upstream hhvm-proxygen {
  server hhvm:18080;
}

server {
    listen 80;
    server_name ${NGINX_SERVER_NAME};
    charset utf-8;

    location / {
        proxy_pass http://hhvm-proxygen;
        proxy_http_version 1.1;
        proxy_set_header Connection "";
    }
}
